<h1>¿A dónde te apetece viajar hoy?</h1>

<div class="view">
  <div class="row">
    <app-accordion-countries class="accordion" [countryTitle]="dataTitle[0]" [countriesList]="dataCountry"></app-accordion-countries>
    <app-accordion-countries class="accordion" [countryTitle]="dataTitle[1]" [countriesList]="dataCountry"></app-accordion-countries>
  </div>
  <div class="row">
    <app-accordion-countries class="accordion" [countryTitle]="dataTitle[2]" [countriesList]="dataCountry"></app-accordion-countries>
    <app-accordion-countries class="accordion" [countryTitle]="dataTitle[3]" [countriesList]="dataCountry"></app-accordion-countries>
  </div>
</div>

