<!-- Code provided by ChatGpt -->

<!-- <mat-form-field>
  <div>
    <h4>Dropdown: Angular Material</h4>
    <input type="text" placeholder="AMÉRICA" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
          {{ option }}
      </mat-option>
    </mat-autocomplete>
</div>
</mat-form-field> -->

<!-- <mat-form-field>
  <mat-label>Dropdown: Angular Material</mat-label>
  <mat-select [formControl]="myControl" >
    <mat-option class="" [value]="null" disabled>Select an option</mat-option>
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{ option }}
    </mat-option>
  </mat-select>
  <mat-autocomplete #auto="matAutocomplete">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      <mat-divider>
        {{ option }}
      </mat-divider>
    </mat-option>
  </mat-autocomplete>
</mat-form-field> -->
